<div id="Body">
  <ion-content class="ion-padding">
    <!-- Condicional respnsable de pintar o nó los envios -->
    <ng-container *ngIf="envios$ | async as envios">
    <!-- Cada carta de la lista -->¡
      <ng-container *ngFor="let envio of envios">
        <!-- Invoca el componente app Cards para pintar la carta correspondiente -->
        <app-cards [objeto]="envio"></app-cards>
      </ng-container>
    </ng-container>

    <ion-button expand="block" class="bottom-button" (click)="openModal()">
      <ion-icon slot="center" name="add-outline"></ion-icon>
    </ion-button>
  </ion-content>
</div>