.bottom-button {
    width: 90%; 
    height: 15%; 
    margin: 0 auto 10%; 
    display: flex;
    justify-content: center;
    align-items: center;
    --background: black;
  }
  
  .bottom-button ion-icon {
    font-size: 2rem; /* Tamaño del icono */
  }
  #Body{
    background: rgb(194, 193, 193);
  }
